@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --right-column-width: 230px;
  --left-column-width: calc(var(--right-column-width) * 3);
  --both-column-width: calc(var(--right-column-width) * 4);
  --h1-font-weight: 600;
  --h2-font-weight: 600;
  --b-font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

body {
  margin: auto;
  max-width: var(--both-column-width);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

section.left-column {
  width: var(--left-column-width);
}

section.right-column {
  width: var(--right-column-width);
}

article {
  padding: 10px;
}

article.tech {
  background-color: lightskyblue;
}

div.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.align-right {
  text-align: right;
}

div.artificial-space {
  height: 10px;
}

h1 {
  font-size: 3rem;
  font-weight: var(--h1-font-weight);
  margin-block: 12px;
}

h2 {
  font-weight: var(--h2-font-weight);
  margin-bottom: 5px;
}

b {
  font-weight: var(--b-font-weight);
}

p.email {
  text-decoration: underline;
  cursor: pointer;
}

ol,
ul {
  margin-left: 30px;
}

li.spaced-list {
  margin-top: 5px;
}

a {
  color: black;
}

br {
  line-height: 50%;
}

@media (max-width: 690px) {
  div.flex-space-between {
    display: block;
  }

  div.align-right {
    text-align: left;
  }
}
